<h1 mat-dialog-title>Złóż : {{dialogData.dialogTitle}}</h1>

<div fxLayout="column" fxLayoutAlign="space-around center" >

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Nazwa pliku</mat-label>
      <label>
        <input [formControl]="nameFC"
               matInput
               placeholder="Wpisz nazwe pliku">
      </label>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Typ pliku</mat-label>
      <select
              [formControl]="formatFileFC"
              matNativeControl
              name="formatFile">
        <option selected value=""></option>
        <option *ngFor="let type of formatsFile" [value]="type" >
          {{type}}
        </option>
      </select>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutGap="20px">
    <mat-form-field appearance="outline">
      <mat-label>Wyszukaj</mat-label>
      <label>
        <input [formControl]="foundedDocumentNameFC"
               matInput
               placeholder="Wpisz nazwe pliku">
      </label>
    </mat-form-field>

    <button mat-button>
      <label for="file-input" class="btn btn-default" flow-btn>
        Znajdz plik
        <input id="file-input"
               type="file"
               style="visibility: hidden; position: absolute;"
               (change)="handleFileInput($event)"
               accept="image/jpeg">
      </label>
    </button>

  </div>
</div>

<div mat-dialog-actions>
  <button (click)="onNoClick()" mat-button>Anuluj</button>
  <button [mat-dialog-close]="dialogData.animal" mat-button>Ok</button>
</div>
