
<div fxLayout="row" fxLayoutGap="20px">

  <button (click)="openUploaderDialog(WNIOSEK)" mat-raised-button>{{WNIOSEK}}</button>
  <button (click)="openUploaderDialog(PODANIE)" mat-raised-button>{{PODANIE}}</button>
  <button (click)="openUploaderDialog(DOKUMENT)" mat-raised-button>{{DOKUMENT}}</button>
  <button (click)="openUploaderDialog(INNY)" mat-raised-button>{{INNY}}</button>
  <div>...</div>
  <button (click)="openAngularUploaderDialog(WNIOSEK)" mat-raised-button>{{WNIOSEK}}</button>

</div>

