<form [formGroup]="coreFG" >
  <div fxLayout="column" fxLayoutAlign="space-around center">

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Nazwa pliku</mat-label>
        <label>
          <input [formControl]="nameFC"
                 matInput
                 placeholder="Wpisz nazwe pliku"
                 required>
        </label>
        <mat-error>
          <span *ngIf="nameFC.hasError('required')">Pole nie może być puste</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="20px">
      <mat-form-field appearance="outline">
        <mat-label>Poszukiwany plik</mat-label>
        <label>
          <input [formControl]="foundedDocumentNameFC"
                 [readonly]="readonly"
                 matInput
                 placeholder="Wpisz nazwe pliku">
        </label>
      </mat-form-field>

      <button mat-button [disabled]="nameFC.invalid" >
        <label class="btn btn-default" flow-btn for="file-input">
          Znajdz plik
          <input (change)="findAndCheckFile($event)"
                 id="file-input"
                 style="visibility: hidden; position: absolute;"
                 type="file"
                 [disabled]="nameFC.invalid"
          >
        </label>
      </button>
    </div>
    <div>{{message}}</div>
  </div>
</form>

